<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--<meta name="format-detection" content="telephone=no" />-->
    <title></title>
    <link rel="stylesheet" href="ms.css">
</head>
<body >

<div class="demo-phone-scroll" >

    <div class="contact-list demo-scroll">


        <div mbsc-enhance="" class="mbsc-comp mbsc-form mbsc-mobiscroll mbsc-ltr" id="mobiscroll1451636799520">
            <div class="mbsc-lv-cont mbsc-lv-mobiscroll mbsc-lv-ic-anim">
                <ul class="mbsc-lv mbsc-lv-dummy"></ul>
                <div class="mbsc-lv-sl-c" data-ref="1">
                    <ul class="contact-detail-edit mbsc-lv mbsc-lv-v mbsc-lv-sl-curr">
                        <li class="mbsc-lv-item mbsc-lv-back" data-back="14">Back
                            <div class="mbsc-lv-arr mbsc-lv-ic mbsc-ic mbsc-ic-arrow-left5"></div>
                        </li>
                        <li class="crm-form-cont mbsc-lv-item mbsc-lv-item-enhanced" data-id="ec2" data-ref="15">
                            <form class="edit-form ng-pristine ng-valid ng-valid-email" novalidate="novalidate"
                                  name="form">
                                <div class="mbsc-divider">包月保洁</div>
                                <label class="mbsc-ic-left mbsc-input"><span class="mbsc-label">
                                                    Name
                                                    </span><span class="mbsc-input-wrap"><input name="Name" type="text"
                                                                                                placeholder="Name"
                                                                                                data-icon="user4"
                                                                                                ng-model="currentItems[$index].name"
                                                                                                class="ng-pristine ng-valid mbsc-control mbsc-control-ev mbsc-active ng-touched"
                                                                                                style=""><span
                                        class="mbsc-input-ic mbsc-left-ic mbsc-ic mbsc-ic-user4"></span></span>
                                </label>

                                <label class="mbsc-ic-left mbsc-input mbsc-textarea"><span class="mbsc-label">
                                                    Address
                                                    </span><span class="mbsc-input-wrap"><textarea placeholder="Address"
                                                                                                   data-icon="location"
                                                                                                   name="address"
                                                                                                   ng-model="currentItems[$index].address"
                                                                                                   class="ng-pristine ng-untouched ng-valid mbsc-control mbsc-control-ev"
                                                                                                   style="height: 34px;"></textarea><span
                                        class="mbsc-input-ic mbsc-left-ic mbsc-ic mbsc-ic-location"></span></span>
                                </label>

                                <label class="mbsc-ic-left mbsc-input"><span class="mbsc-label">
                                                    Company
                                                    </span><span class="mbsc-input-wrap"><input type="text"
                                                                                                placeholder="Company"
                                                                                                data-icon="office"
                                                                                                name="company"
                                                                                                ng-model="currentItems[$index].company"
                                                                                                class="ng-pristine ng-untouched ng-valid mbsc-control mbsc-control-ev"><span
                                        class="mbsc-input-ic mbsc-left-ic mbsc-ic mbsc-ic-office"></span></span>
                                </label>

                                <div class="mbsc-divider">Phone</div>
                                <!-- ngRepeat: phone in currentItems[$index].phones --><label
                                    ng-repeat="phone in currentItems[$index].phones"
                                    class="ng-binding ng-scope mbsc-ic-left mbsc-input"><span class="mbsc-label">
                                                    Home
                                                    </span><span class="mbsc-input-wrap"><input type="tel"
                                                                                                placeholder="Phone"
                                                                                                name="phone"
                                                                                                data-icon="phone"
                                                                                                ng-model="phone.number"
                                                                                                class="ng-pristine ng-untouched ng-valid mbsc-control mbsc-control-ev"><span
                                    class="mbsc-input-ic mbsc-left-ic mbsc-ic mbsc-ic-phone"></span></span>
                            </label><!-- end ngRepeat: phone in currentItems[$index].phones --><label
                                    ng-repeat="phone in currentItems[$index].phones"
                                    class="ng-binding ng-scope mbsc-ic-left mbsc-input"><span class="mbsc-label">
                                                    Work
                                                    </span><span class="mbsc-input-wrap"><input type="tel"
                                                                                                placeholder="Phone"
                                                                                                name="phone"
                                                                                                data-icon="phone"
                                                                                                ng-model="phone.number"
                                                                                                class="ng-pristine ng-untouched ng-valid mbsc-control mbsc-control-ev"><span
                                    class="mbsc-input-ic mbsc-left-ic mbsc-ic mbsc-ic-phone"></span></span>
                            </label><!-- end ngRepeat: phone in currentItems[$index].phones -->

                                <div class="mbsc-divider">Email</div>
                                <!-- ngRepeat: email in currentItems[$index].emails --><label
                                    ng-repeat="email in currentItems[$index].emails"
                                    class="ng-binding ng-scope mbsc-ic-left mbsc-input"><span class="mbsc-label">
                                                    Home
                                                    </span><span class="mbsc-input-wrap"><input type="email"
                                                                                                placeholder="Phone"
                                                                                                name="email"
                                                                                                data-icon="foundation-mail"
                                                                                                ng-model="email.email"
                                                                                                class="ng-pristine ng-untouched ng-valid ng-valid-email mbsc-control mbsc-control-ev"><span
                                    class="mbsc-input-ic mbsc-left-ic mbsc-ic mbsc-ic-foundation-mail"></span></span>
                            </label><!-- end ngRepeat: email in currentItems[$index].emails --><label
                                    ng-repeat="email in currentItems[$index].emails"
                                    class="ng-binding ng-scope mbsc-ic-left mbsc-input"><span class="mbsc-label">
                                                    Work
                                                    </span><span class="mbsc-input-wrap"><input type="email"
                                                                                                placeholder="Phone"
                                                                                                name="email"
                                                                                                data-icon="foundation-mail"
                                                                                                ng-model="email.email"
                                                                                                class="ng-pristine ng-untouched ng-valid ng-valid-email mbsc-control mbsc-control-ev"><span
                                    class="mbsc-input-ic mbsc-left-ic mbsc-ic mbsc-ic-foundation-mail"></span></span>
                            </label><!-- end ngRepeat: email in currentItems[$index].emails -->

                                <!--<div ng-init="it = currentItems[$index]" class="mbsc-divider">Contact Categories</div>-->

                                <!--&lt;!&ndash; ngRepeat: (cat,v) in currentItems[$index].categories &ndash;&gt;<label-->
                                    <!--ng-repeat="(cat,v) in currentItems[$index].categories"-->
                                    <!--class="ng-binding ng-scope mbsc-checkbox"><input type="checkbox"-->
                                                                                     <!--ng-model="it.categories[cat]"-->
                                                                                     <!--class="ng-pristine ng-untouched ng-valid mbsc-control mbsc-control-ev"><span-->
                                    <!--class="mbsc-checkbox-box"></span><span class="mbsc-label">Accounts-->
                                                    <!--</span>-->
                            <!--</label>&lt;!&ndash; end ngRepeat: (cat,v) in currentItems[$index].categories &ndash;&gt;<label-->
                                    <!--ng-repeat="(cat,v) in currentItems[$index].categories"-->
                                    <!--class="ng-binding ng-scope mbsc-checkbox"><input type="checkbox"-->
                                                                                     <!--ng-model="it.categories[cat]"-->
                                                                                     <!--class="ng-pristine ng-untouched ng-valid mbsc-control mbsc-control-ev"><span-->
                                    <!--class="mbsc-checkbox-box"></span><span class="mbsc-label">Contacts-->
                                                    <!--</span>-->
                            <!--</label>&lt;!&ndash; end ngRepeat: (cat,v) in currentItems[$index].categories &ndash;&gt;<label-->
                                    <!--ng-repeat="(cat,v) in currentItems[$index].categories"-->
                                    <!--class="ng-binding ng-scope mbsc-checkbox"><input type="checkbox"-->
                                                                                     <!--ng-model="it.categories[cat]"-->
                                                                                     <!--class="ng-pristine ng-untouched ng-valid mbsc-control mbsc-control-ev"><span-->
                                    <!--class="mbsc-checkbox-box"></span><span class="mbsc-label">Leads-->
                                                    <!--</span>-->
                            <!--</label>&lt;!&ndash; end ngRepeat: (cat,v) in currentItems[$index].categories &ndash;&gt;-->

                                <!--<div class="contact-detail-save mbsc-padding">-->
                                    <!--<button class="mbsc-btn-block mbsc-control mbsc-btn mbsc-control-ev"-->
                                            <!--data-icon="checkmark"-->
                                            <!--ng-click="updateContacts(currentItems[$index], $index)"><span-->
                                            <!--class="mbsc-btn-ic mbsc-ic mbsc-ic-checkmark"></span>Save-->
                                    <!--</button>-->
                                <!--</div>-->
                            </form>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>