/* header */
#header {margin-bottom:15px;}

#header h1 a {
	color: #4bb1cf;
	text-decoration: none
}

#header h1 small {color: #7ab5d3;}

/* footer */
#footer {
	margin-top: 15px;
	padding: 15px 0px 0px 0px;
	font-size: 95%;
	text-align: center;
	border-top: 2px solid #4bb1cf;
}

#footer a {color: #999;}

#content {min-height: 600px;}

.text-info {padding-top: 5px;}