@charset "utf-8";
/* CSS Document */

.cl53{ color:#535353;}
.advice{
    color:#fff;
    position:absolute;
    right:0.3em;
    height:0.7em;
    top:0;
}
.H-main{
    display: -webkit-box;
    margin:0.2em;
    border:solid 1px #cfcfcf;
    border-radius:0.08em;
    background-clip:padding-box;
    -webkit-box-orient: vertical;
    overflow:hidden;
}
.H-dl1{
    display: table;
    width:100%;
    height:0.74em;
    line-height:0.74em;
    color:#535353;
    border-bottom:solid 5px #2cca77;
    background:#fff;
}
.H-dl1 dt{
    display: table-cell;
    width:73%;
    text-align:center;
}
.H-dl1 dd{
    display: table-cell;
    width:27%;
    text-aligh:center;
}
.H-dl2{
    display: table;
    width:100%;
    height:0.6em;
    line-height:0.6em;
    color:#535353;
    background:#fff;
}
.H-dl2 dt{
    display: table-cell;
    width:73%;
    text-align:center;
}
.H-dl2 dd{
    display: table-cell;
    width:27%;
    text-aligh:center;
}
.H-price{
    color:#ff3343;
}
.H-dl3{
    display: table;
    width:100%;
    height:0.6em;
    line-height:0.6em;
    color:#535353;
    background:#f7f7f7;

}
.H-dl3 dt{
    display: table-cell;
    width:73%;
    text-align:center;
}
.H-dl3 dd{
    display: table-cell;
    width:27%;
    text-aligh:center;
}
@-moz-document url-prefix(){
    .H-dl3{ line-height:0;}
    .H-dl2{ line-height:0;}
}
.H-submit{
    margin:0.2em;
    height:0.88em;
    -webkit-border-radius: 0.08em;
    -moz-border-radius: 0.08em;
    border-radius: 0.08em;
    background-clip:padding-box;
    overflow:hidden;
}
.reserBtn{
    width:100%;
    height:100%;
    color:#fff;
    background:#2cca77;
    -webkit-box-pack:center;
    border:none;
}
.reserBtn:disabled{
    background:#c9c9c9;
}

.H-img{
    display: -webkit-box;
}
.H-mainbox{
    display: -webkit-box;
    -webkit-box-orient:vertical;
}
.H-title{
    display: -webkit-box;
    height:0.34em;
    line-height:0.34em;
    margin:0.26em 0em 0em 0.17em;
}
.H-info{
    font-size:0.26em;
    color:#777;
    margin-left:0.09em;
    font-weight:normal;
}
.H-list{
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    margin-top:0.16em;
    margin-bottom:0.2em;
    background:#fff;
}
.H-list a{
    width:25%;
    height:1.5em;
    float: left;
    display: block;
    color: #8d8d8d;
}
.H-list a div{
    width:0.6em;
    height:0.5em;
    margin:0.32em auto 0em auto;
}
.H-list a div img{
    width:0.6em;
    height:0.5em;
}
.H-list a p{
    text-align: center;
    line-height: 2.4em;
}

.H_icon1,.H_icon2,.H_icon3,.H_icon4{
    width:0.34em;
    height:0.34em;
    display: -webkit-box;
    -webkit-border-radius: 0.16em;
    -moz-border-radius: 0.16em;
    background-clip:padding-box;
    border-radius: 0.16em;
    -webkit-box-shadow: inset 0 0 0.03em rgba(5,5,5,.2);
    -moz-box-shadow: inset 0 0 0.03em rgba(5,5,5,.2);
    box-shadow: inset 0 0 0.03em rgba(5,5,5,.2);
    -webkit-box-pack:center;
    -webkit-box-align:center;
}
.H_icon1{background:#2cca77;}
.H_icon2{background:#52c4ff;}
.H_icon3{background:#ff8f52;}
.H_icon4{background:#76aaff;}
.H_icon1 em{
    display: -webkit-box;
    background:url(/wap/images/all.png) no-repeat;
    background-position:-0.6em -1.2em;
    background-size:4.67em 1.35em;
    width:0.15em;
    height:0.15em;
}
.H_icon2 em{
    display: -webkit-box;
    background:url(/wap/images/all.png) no-repeat;
    background-position:-0.42em -1.2em;
    background-size:4.67em 1.35em;
    width:0.14em;
    height:0.1em;
}
.H_icon3 em{
    display: -webkit-box;
    background:url(/wap/images/all.png) no-repeat;
    background-position:-0.18em -1.2em;
    background-size:4.67em 1.35em;
    width:0.14em;
    height:0.1em;
}
.H_icon4 em{
    display: -webkit-box;
    background:url(/wap/images/all.png) no-repeat;
    background-position:0em -1.2em;
    background-size:4.67em 1.35em;
    width:0.1em;
    height:0.15em;
}

.H-infobox{
    display: -webkit-box;
    margin:0.2em;
    text-align:center;
    -webkit-box-pack:center;
    -webkit-box-orient:vertical;
}
.H-state{
    color:#2cca77;
    font-size:0.34em;
    line-height:3em;
}
.H-information{
    font-size:0.28em;
    color:#7d7d7d;
    line-height:1.25em;
}
.H-call{
    -webkit-border-radius: 0.08em;
    -moz-border-radius: 0.08em;
    border-radius: 0.08em;
    background-clip:padding-box;
    background-color: #2cca77;
    display: -webkit-box;
    height:0.88em;
    line-height:0.88em;
    margin-top:0.56em;
    color:#fff;
    text-align:center;
    border:none;
    -webkit-box-pack:center;
}
.H-bottinfo{
    font-size:0.28em;
    color:#7d7d7d;
    line-height:2.5em;
}
.H-brand{
    overflow:hidden;
}
.H-line{
    margin:0 auto;
    margin-top:-0.1em;
    width:2.18em;
    height:0.93em;
    border-left:solid 2px #2cca77;
    border-right:solid 2px #2cca77;
    -webkit-box-shadow: 1px 2px 3px rgba(11,3,6,.1),inset 1px 2px 3px rgba(11,3,6,.1);
    -moz-box-shadow:1px 2px 3px rgba(11,3,6,.1),inset 1px 2px 3px rgba(11,3,6,.1);
    box-shadow:1px 2px 3px rgba(11,3,6,.1),inset 1px 2px 3px rgba(11,3,6,.1);
}
.H-branbox{
    margin:-0.01em 0.16em 0.16em 0.16em;
    -webkit-box-shadow: 1px 2px 3px rgba(11,3,6,.1);
    -moz-box-shadow: 1px 2px 3px rgba(11,3,6,.1);
    box-shadow: 1px 2px 3px rgba(11,3,6,.1);
    border: solid 1px #d5d5d5;
    background:#fff;
    text-align:center;
    padding-bottom:0.65em;
}
.H-branbox h6{
    font-size:0.44em;
    color:#2cca77;
}
.H-branbox p{
    font-size:0.36em;
    color:#2cca77;
    line-height:0.1em;
    font-weight:bold;
}
.H-down{
    margin:0.16em;
    background:#fff;
    padding-top:0.25em;
}
.H-down p{
    display:-webkit-box;
    height:0.35em;
    line-height:0.35em;
    padding-bottom:0.33em;
    margin-left:0.18em;
}

.H-ico1{
    width:0.33em;
    height:0.32em;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-position:-5.52em -2.37em;
    background-size:7.4em 6em;
}
.H-ico2{
    width:0.32em;
    height:0.32em;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-position:-6.17em -2.4em;
    background-size:7.4em 6em;
}
.H-ico3{
    width:0.32em;
    height:0.32em;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-position:-4.87em -2.37em;
    background-size:7.4em 6em;
}
.H-ico4{
    width:0.34em;
    height:0.34em;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-position:-4.21em -2.36em;
    background-size:7.4em 6em;
}
.H-font{
    font-size:0.3em;
    color:#929292;
    margin-left:0.16em;
}
.H-linebg{
    background:url(/wap/images/line.jpg) repeat-x bottom;
}
.H-p{
    font-size:0.24em;
    color:#959595;
    text-align:center;
    line-height:1em;
}
.H-p2{
    text-align:center;
    line-height:0.7em;
}
.H-center{
    font-size:0.24em;
    color:#2cca77;
    text-align:center;
    text-decoration:underline;
}

.H-intro{
    height:0.7em;
    line-height:0.7em;
    background:#fff799;
    text-align:center;
    position:relative;
}
.H-cont{
    font-size:0.26em;
    color:#535353;
    display:block;
}
.H-go{
    width:0.12em;
    height:0.12em;
    display:block;
    border-right:1px solid #707070;
    border-top:solid 1px #707070;
    position:absolute;
    right:0.33em;
    top:0.27em;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.H-dlbox{
    margin-top:0.1em;
    background:#fff;
}
.H-dlList{
    height:0.87em;
    line-height:0.87em;
    display: -webkit-box;
    width:100%;
}
.H-dlList dt{
    width:20%;
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
}
.H-place1{
    width:0.36em;
    height:0.36em;
    display:-webkit-box;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-position:-4.93em -0.31em;
    background-size:7.4em 6em;
}
.H-place2{
    width:0.3em;
    height:0.4em;
    display:-webkit-box;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-position:-5.58em -0.29em;
    background-size:7.4em 6em;
}
.H-place3{
    width:0.35em;
    height:0.35em;
    display:-webkit-box;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-position:-4.31em -0.32em;
    background-size:7.4em 6em;
}
.H-place4{
    width:0.36em;
    height:0.36em;
    display:-webkit-box;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-position:-6.17em -0.31em;
    background-size:7.4em 6em;
}
.H-place4{
    width:0.36em;
    height:0.36em;
    display:-webkit-box;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-position:-6.17em -0.31em;
    background-size:7.4em 6em;
}
.H-place5{
    width:0.39em;
    height:0.28em;
    display:-webkit-box;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-position:-6.77em -0.35em;
    background-size:7.4em 6em;
}
.H-dlList dd{
    border-bottom:solid 1px #c8c8c8;
    width:80%;
    position:relative;
}
.H-dlList dd a,.H-dlList dd span{
    font-size:0.28em;
    color:#313131;
    position:absolute;
    left:0;
    display:block;
    width:90%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.H-dlList dd input{
    border:none;
    background:none;
    width:90%;
    height:100%;
    font-size:0.28em;
    color:#313131;
    outline:none;
}
.H-dlList dd select{
    opacity:0;
    height:100%;
    width:100%;
    position:absolute;
    z-index:1;
    font-size:0.32em;
    color:#313131;
}
.H-dlList dd ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666;
}
.H-dlList dd :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #666;
}
.H-dlList dd ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #666;
}
.H-dlList dd :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #666;
}
.H-dlList dd i{
    width:0.14em;
    height:0.14em;
    display:block;
    border-right:0.05em solid #ccc;
    border-top:solid 0.05em #ccc;
    position:absolute;
    right:0.29em;
    top:0.32em;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.H-dlList:last-child dd{
    border:none;
}
.H-dlList b{
    color:#e83227;
    font-weight:normal;
}

.H-select{
    margin:0.2em;
}
.H-select p{
    font-size:0.28em;
    color:#999;
    line-height:0.8em;
}
.H-select ul{
    -webkit-border-radius: 0.08em;
    -moz-border-radius: 0.08em;
    border-radius: 0.08em;
    background-clip:padding-box;
    background: #fff;
    border: solid 1px #e5e5e5;
    margin-top:0.22em;
    display:-webkit-box;
    -webkit-box-orient:vertical;
}
.H-select ul li{
    height:0.88em;
    line-height:0.88em;
    border-bottom:solid 1px #e5e5e5;
    display:-webkit-box;
    -webkit-box-align:center;
    padding-left:0.28em;
    position:relative;
}
.H-select ul li:last-child{
    border:none;
}
.H-select ul li span{
    position:absolute;
    right:0.5em;
    width:0.26em;
    height:0.27em;
    background:url(/wap/images/global.png) no-repeat;
    background-size:7.4em 6em;
    background-position:-5.87em -1.3em;
    top:0.32em;
}
.H-select ul li a{
    font-size:0.28em;
    color:#999;
}

.H-bigbox{
    display:-webkit-box;
    -webkit-box-orient:vertical;
}
.H-login{
    margin:0.19em;
    display:-webkit-box;
}
.H-left{
    width:65%;
    height:0.88em;
    margin-top:0.1em;
}
.H-right{
    width:33%;
    height:0.88em;
    margin-left:0.14em;
    -webkit-border-radius: 0.08em;
    -moz-border-radius: 0.08em;
    border-radius: 0.08em;
    background-clip:padding-box;
    overflow:hidden;
    margin-top:0.1em;
}
.H-inser{
    width:100%;
    height:100%;
    font-size:0.28em;
    padding-left:0.26em;
    border:solid 1px #e5e5e5;
    color:#a0a0a0;
}
.H-inser:focus{
    outline:#2cca77 solid 1px;
}
.H-right input{
    background:#2cca77;
    width:100%;
    height:100%;
    border:none;
    color:#fff;
    font-size:0.3em;
    font-weight:bold;
}
.H-right input:disabled{
    background:#c9c9c9;
}
.H-bottom{
    height:0.88em;
    margin:0 0.19em;
}

.H-servic{
    background:#f0ce9e;
    overflow:hidden;
}
.H-tel{
    font-size:0.48em;
    color:#ea5f58;
    text-align:center;
    margin-top:0.55em;
    padding-bottom:0.25em;
    line-height:1em;
}
.H-ps{
    margin:0 8%;
    font-size:0.30em;
    padding-left:1.5em;
    padding-bottom:0.3em;
}
.H-ps li{
    color:#190500;
    line-height:1.5em;
    list-style:decimal;
    padding-bottom:0.5em;
}
.H-box{
    width:92%;
    margin:0 auto;
    background:#fff;
    border:solid 1px #ea5f58;
    margin-top:0.9em;
}
.H-top{
    width:4.08em;
    height:0.75em;
    background:url(/wap/images/top.png) no-repeat;
    background-size:4.08em 0.75em;
    margin:-0.42em auto;
    padding-bottom:0.4em;
    text-align:center;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-align:center;
    overflow:hidden;
}
.H-top p{
    color:#fff;
}
.H-top p:first-child{
    height:0.49em;
    margin-top:-1em;
}
.H-top p:last-child{
    margin-top:0.8em;
    height:0.5em;
}
.H-dlinfor{
    margin:0.27em;
}
.H-dlinfor dt{
    width:1em;
    height:1em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    background-clip:padding-box;
    overflow:hidden;
    border-radius: 0.5em;
    background-color: #efefef;
    border: solid 2px #d7d7d7;
    float:left;
    text-align:center;
}
.H-dlinfor dt p{
	width:1em;
	height:1em;
	background:url(/wap/images/scv.png) no-repeat;
	background-size:7em 3em;
	margin:0 auto;
	display:inline-block;
	line-height:0.85em;
}
.H-dlinfor dt p.project_sprint_cleaning{ background-position:-5em -1em;}
.H-dlinfor dt p.project_clean_glass{ background-position:0 0;}
.H-dlinfor dt p.project_clean_fridge{ background-position:-1em 0;}
.H-dlinfor dt p.project_kitchen_clean{ background-position:-2em 0;}
.H-dlinfor dt p.project_floor_wax{ background-position:-3em 0;}
.H-dlinfor dt p.project_clean_oven_d{ background-position:-6em -1em;}
.H-dlinfor dt p.project_clean_ac{ background-position:-4em 0;}
.H-dlinfor dt p.project_clean_oven{ background-position:-5em 0;}
.H-dlinfor dt p.project_washroom_clean{ background-position:0 -1em;}
.H-dlinfor dt p.project_land_clearing{ background-position:-1em -1em;}
.H-dlinfor dt p.project_sofa_clean{ background-position:-3em -1em;}
.H-dlinfor dt p.project_clean_fume{ background-position:-4em -1em;}
.H-dlinfor dt p.project_wash_curtain{ background-position:-6em 0;}
.H-dlinfor dt p.project_wash_sofa{ background-position:0 0;}
.H-dlinfor dt p.project_cleaning{ background-position:-2em -1em;}
.H-dlinfor dt p.project_carpetwashing{ background-position:0em -2em;}
.H-dlinfor dd{
    margin-left:1.17em;
}
.H-dlinfor dd h4{
    color:#423834;
    line-height:1.25em;
    font-weight:normal;
}
.H-dlinfor dd p{
    color:#615a58;
    line-height:1.25em;
    margin-top:0.3em;
}
.H-box:last-child{
    margin-top:0.8em;
    margin-bottom:0.21em;
}
.H-small{
    margin:0 0.15em;
    border-bottom:dashed 1px #d3d2d1;
    padding:0 0.23em;
    line-height:1em;
    overflow:hidden;
}
.H-tops{
    color:#423834;
    font-size:0.3em;
}
.H-time{
    padding-bottom:0.8em;
}
.H-time span{
    font-size:0.55em;
    color:#898583;
    line-height:0.5em;
    float:left;
}
.H-timeIco{
    width:0.62em;
    height:0.62em;
    background:url(/wap/images/global.png) no-repeat;
    background-size:7.4em 6em;
    background-position:-6.04em -3.22em;
    float:left;
    margin-top:-0.15em;
    margin-left:0.2em;
    padding-bottom:0.3em;
}
.H-say{
    color:#898583;
    line-height:1.25em;
    margin-top:-0.5em;
    font-size:0.26em;
    padding-bottom:1.3em;
}
.H-ul{
    padding-bottom:1.5em;
}
.H-ul li{
    width:28%;
    float:left;
    margin-left:3%;
    margin-right:2%;
    text-align:center;
}
.H-ul li p:first-child{
    width:0.79em;
    height:0.79em;
    -webkit-border-radius: 0.39em 0.40em 0.40em 0.39em/0.40em 0.40em 0.39em 0.39em;
    -moz-border-radius: 0.39em 0.40em 0.40em 0.39em/0.40em 0.40em 0.39em 0.39em;
    border-radius: 0.39em 0.40em 0.40em 0.39em/0.40em 0.40em 0.39em 0.39em;
    overflow:hidden;
    background-color: #efefef;
    border: solid 1px #d7d7d7;
    background-clip:padding-box;
    margin:0 auto;
}
.H-ul li p:last-child{
    font-size:0.24em;
    color:#898583;
    line-height:2em;
}
.H-car{
    width:0.47em;
    height:0.32em;
    margin:0.26em auto;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-size:7.4em 6em;
    background-position:-6.77em -2.4em;
}
.H-car2{
    width:0.68em;
    height:0.24em;
    margin:0.31em auto;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-size:7.4em 6em;
    background-position:-6.62em -1.32em;
}
.H-car3{
    width:0.57em;
    height:0.45em;
    margin:0.19em auto;
    display:block;
    background:url(/wap/images/global.png) no-repeat;
    background-size:7.4em 6em;
    background-position:-6.77em -3.29em;
}
.H-small:last-child{
    border:none;
}
.H-serbox{
    margin:0 0.24em;
    background:#fff;
    border:solid 1px #ea5f58;
    overflow:hidden;
}
.H-danhang{
    font-size:0.48em;
    color:#ea5f58;
    text-align:center;
}
.H-cen{
    text-align:center;
    font-size:0.3em;
    line-height:1.25em;
    padding-bottom:0.8em;
}
.H-serbox dl:first-child{ border-bottom:1px solid #e6e6e6;}
.H-serbox dl dt,.H-serbox dl dd{ border-right:1px solid #e6e6e6;}
.H-serbox dl dt,.H-serbox dl dd{ -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; text-align:center; overflow:hidden; vertical-align:middle; display:-webkit-box; -webkit-box-align:center; height:0.92em; -webkit-box-pack:center; width:5em;}
.H-serbox dl span{ display:inline-block;font-size:0.26em; line-height:1.2em; vertical-align:middle;}
.H-serbox dl dt span{  display:inline-block;color:#898583;}
nav.svc ol li {-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;}
