/* CSS Document */

header.headbar .logo{ width:1.6em; height:0.6em; background:url(/wap/images/global.png) no-repeat -0.2em -0.2em;background-size:7.4em 6em; position:absolute; left:0.24em; top:50%; margin-top:-0.3em;}
header.headbar .local{ position:absolute; right:0.32em; height:0.7em; line-height:0.7em; overflow:hidden;}
header.headbar .local i{ font-style:normal; vertical-align:middle;}
header.headbar .local i.addr{ display:inline-block; width:0.28em; height:0.36em;background:url(/wap/images/global.png) no-repeat -2.37em -0.33em;background-size:7.4em 6em; margin-right:0.08em}
header.headbar .local select{ width:100%; height:100%; position:absolute; opacity:0; font-size:0.5em; line-height:1em;}
.advice{
    color:#fff;
    position:absolute;
    right:0.3em;
    height:0.7em;
    top:0;
}

#section_container{ max-width:640px;overflow: hidden; margin:0px auto;}

.swipe{overflow: hidden;visibility: hidden;position:relative;}
.swipe-wrap{overflow:hidden;position:relative;}
.swipe-wrap > a {float: left;width: 100%;position:relative;}
.swipe-wrap img{ width:100%;}
#position{padding: 0;width:100%; text-align: center;position: absolute;bottom: 0.12em; line-height:0; -webkit-padding-start:0;}
#position li{width:0.2em;height:0.04em;display:inline-block;  background-color:#fff; background-clip:padding-box; list-style:none outside none; line-height:0; vertical-align:middle; margin:0 -0.12em;opacity: 0.5;}
#position li.cur{ background-color:#fff;opacity: 1;}


nav.svc{ background-color:#fff;margin: 0.2em 0;border: solid 1px #e6e6e6;}
nav.svc ul > li:nth-of-type(2){ border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
nav.svc ol li{ -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; text-align:center; height:2.1em;}
nav.svc a{ color:#95999f; display:block; height:100%;}
nav.svc a:hover{ background-color:#fcfcfc;}
nav.svc ol li i{ display:inline-block; line-height:0.85em; margin-top:0.47em; margin-bottom:0.1em;vertical-align: bottom;}
nav.svc ol li i img{vertical-align: bottom; width:0.67em; height:0.51em;overflow: hidden}
nav.svc ol li span{ line-height:1.25em; display:inline-block;width:5.6em;}
nav.svc ol li:nth-of-type(2){ border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;}
dl.plist{ color:#666;}
dl.plist dt,dl.plist dd{ border-bottom:1px solid #e4e4e4;}
dl.plist dt,dl.tequan dt{ padding:0 0.25em; height:0.74em; line-height:0.74em;}
dl.plist dd{ height:1.08em; line-height:1.08em; background-color:#fff; padding:0 0.25em; position:relative}
dl.plist dd i{ font-style:normal; color:#929292;}
dl.plist dd a{display:inline-block; height:1.8em; line-height:1.8em; width:4em; text-align:center; border:0.08em #2cca77 solid; vertical-align:middle; position:absolute; right:0.86em; top:50%; margin-top:-0.9em; color:#2cca77;-webkit-border-radius: 0.24em;	-moz-border-radius: 0.24em;	border-radius: 0.24em;}

dl.tequan{ color:#777;}
dl.tequan dd{ border-top:#ddd 1px solid; border-bottom:1px solid #ddd; background-color:#fff}
dl.tequan ol:first-child{ border-bottom:1px solid #f0eeee;}
dl.tequan ol li{ overflow:hidden}
dl.tequan ol li:first-child{ border-right:1px solid #f0eeee;}
dl.tequan ol li > div{ padding-top:0.5em; padding-left:0.2em; width:4em;}
dl.tequan li{-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; height:1.64em;}
dl.tequan li h4,dl.tequan li p{ line-height:1.5em;}
dl.tequan li p{ color:#929292;}
dl.tequan ol li i{ float:left; display:inline-block; width:0.8em; height:0.7em; float:left; background:url(/wap/images/global.png) no-repeat; background-size:7.4em 6em; margin-right:0.04em}
dl.tequan ol li i.tqi1{ background-position:-3.1em -1.14em;}
dl.tequan ol li i.tqi2{ background-position:-3.1em -2.14em;}
dl.tequan ol li i.tqi3{ background-position:-3.1em -3.14em;}
dl.tequan ol li i.tqi4{ background-position:-4.2em -3.14em;}

.cover{background:rgba(0, 0, 0, .7);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4c000000', EndColorStr='#4c000000'); width:100%; position:fixed; top:0; left:0; height:100%;display:none;}
:root *{ filter: none\9 !important;}

.msgbox{-webkit-border-radius: 0.13em;	-moz-border-radius:  0.13em;	border-radius:  0.13em;	background-color: #fff; width:5.4em; position:absolute; left:50%; margin-left:-2.7em; top:50%; margin-top:-1.9em;	background-image: -webkit-linear-gradient(bottom, #e4e8e7 9%, #d8ddde 68%, #dce0e1 77%, #e8e9e9);
    background-image: -moz-linear-gradient(bottom, #e4e8e7 9%, #d8ddde 68%, #dce0e1 77%, #e8e9e9);
    background-image: -o-linear-gradient(bottom, #e4e8e7 9%, #d8ddde 68%, #dce0e1 77%, #e8e9e9);
    background-image: linear-gradient(to top, #e4e8e7 9%, #d8ddde 68%, #dce0e1 77%, #e8e9e9);}

.msgbox .msg{ text-align:center; padding:0 0.45em; padding-bottom:0.45em}
.msgbox .msg p{ line-height:1.5em;}
.msgbox ul{ border-top:#9da1a0 1px solid;}
.msgbox ul li{ text-align:center; height:0.87em; line-height:0.87em;}
.msgbox ul li:first-child{ border-right:1px solid #9da1a0; overflow:hidden;}
.msgbox ul li a{ display:block; width:100%; color:#2cca77; height:100%;}

.tipbar{ width:100%; bottom:0; height:0.88em; position:fixed;background:rgba(0, 0, 0, .7);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4c000000', EndColorStr='#4c000000'); color:#fff; min-width:320px; overflow:hidden;}
.tipbar dl{ padding:0.16em;}
.tipbar dt{ float:left; padding-left:0.8em; position:relative;}
.tipbar dd{ float:right; line-height:0; position:absolute; right:0.16em;}
.tipbar h4,.tipbar p{ line-height:1em;}
.tipbar p{ line-height:2em;}
.tipbar i.aybicon{ display:inline-block;width:0.66em; height:0.66em; background:url(/wap/images/global.png) -3.18em -0.18em; background-size:7.4em 6em; position:absolute; left:0;}
.tipbar .appbtn{ color:#fff;width: 1.4em;height:0.62em; display:inline-block; line-height:0.62em; text-align:center;
    -webkit-border-radius: 0.08em;
    -moz-border-radius: 0.08em;
    border-radius: 0.08em;
    background-color: #2cca77; vertical-align:middle}
.tipbar .closetip{ display:inline-block; width:0.42em; height:0.42em; border:0.02em #fff solid; line-height:0; vertical-align:middle;-webkit-border-radius: 0.22em;	-moz-border-radius:  0.22em;	border-radius:0.22em; position:relative;}
.tipbar .closetip:after{ content:" "; display:inline-block; background-color:#fff; width:0.2em; height:0.02em; position:absolute; top:50%; margin-top:-0.01em; left:50%; margin-left:-0.1em;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);}
.tipbar .closetip:before{ content:" "; display:inline-block; background-color:#fff; width:0.2em; height:0.02em; position:absolute; top:50%; margin-top:-0.01em; left:50%; margin-left:-0.1em;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);}

.headinput{ width:80%; margin-left:0.7em; height:0.5em; vertical-align:middle; line-height:0.5em; width:70%; display:inline-block; border-radius:0.06em; -webkit-border-radius:0.06em; -moz-border-radius:0.06em; overflow:hidden; background:#fff; background-clip:padding-box;position:absolute; top:50%; margin-top:-0.25em;}
.headinput input{ height:100%; width:100%; padding-left:0.8em; background:none; border:none; line-height:1.2em;}



.project{height:2.1em;background: #fff;border: solid 1px #e5e5e5;}
.project a{ display: block; height: 100%;}
.project>div{width:50%;}
.project>div:first-child{border-right: solid 1px #e5e5e5;}
.headico{float:left;margin:0.73em 0.22em 0em 0.22em;}
.proFont{float:left;margin-top:0.65em;line-height: 0.44em;}
.proFont p:first-child{font-size: 0.3em;color:#2cca77;}
.proFont p:last-child{font-size: 0.22em;color: #aaa;}
.bottombox{height: 1.4em;margin-bottom:0.2em;background:#fff;border-top: solid 1px #e5e5e5;border-bottom: solid 1px #e5e5e5;}
.quick{width: 0.38em;height: 0.38em;background: url(/wap/images/quick.png) no-repeat;position: absolute;top: 0.18em;right: 0.18em; background-size: 100% 100%}

.bottombox img{ width: 6.4em; height: 1.4em}
.project>div:first-child .headico img{ width: 0.81em; height: 0.65em}
.project>div:last-child .headico img{ width: 0.81em; height: 0.65em}
